vebServ1c/Web References/localhost/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://www.sample-package.org" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="www.URL.com" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd2="www.URL.com" name="service" targetNamespace="www.URL.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://www.sample-package.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sample-package.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="МассивЭлементов">
        <xs:sequence>
          <xs:element maxOccurs="10" name="Элементы" type="tns:Элементы" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Элементы">
        <xs:sequence>
          <xs:element name="Элемент" type="xs:string" />
          <xs:element name="Поставщик" type="xs:string" />
          <xs:element name="Количество" type="xs:integer" />
          <xs:element name="Цена" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs2="www.URL.com" xmlns:xs1="http://www.sample-package.org" elementFormDefault="qualified" targetNamespace="www.URL.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sample-package.org" />
      <xs:element name="setData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="МассивЭлементов" type="xs1:МассивЭлементов" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="setDataRequestMessage">
    <part name="parameters" element="xsd2:setData" />
  </message>
  <message name="setDataResponseMessage">
    <part name="parameters" element="xsd2:setDataResponse" />
  </message>
  <portType name="servicePortType">
    <operation name="setData">
      <input message="xsd2:setDataRequestMessage" />
      <output message="xsd2:setDataResponseMessage" />
    </operation>
  </portType>
  <binding name="serviceSoapBinding" type="xsd2:servicePortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="setData">
      <soapbind:operation soapAction="www.URL.com#service:setData" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="serviceSoap12Binding" type="xsd2:servicePortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="setData">
      <soap12bind:operation soapAction="www.URL.com#service:setData" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="serviceSoap" binding="xsd2:serviceSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://localhost/webServ/ws/service" />
    </port>
    <port name="serviceSoap12" binding="xsd2:serviceSoap12Binding">
      <soap12bind:address location="http://localhost/webServ/ws/service" />
    </port>
  </service>
</definitions>